.registration-content {
  max-width: 50%;
  float: left; }

.registration-description-article {
  max-width: 50%;
  float: right; }

.registration-navigation {
  max-width: 100%;
  clear: both; }

.login-success-message {
  font-size: 1.5em; }

.login-content {
  max-width: 50%;
  float: left; }

.login-description-article {
  max-width: 50%;
  float: right; }

.login-navigation {
  max-width: 100%;
  clear: both; }

td.content {
  vertical-align: top; }

td.sponsoring_and_advertisement {
  vertical-align: top;
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 5px; }

td.pheader-heading {
  vertical-align: top;
  padding: 0px 5px 0px 0px;
  width: 200px; }

td.pheader-navarea {
  vertical-align: top;
  padding: 0px 0px 0px 5px; }

div.pheader-navarea-content {
  width: 100%;
  position: relative;
  border: 0px solid red; }

div.portlet-language {
  float: left; }

nav.general-options {
  text-align: right;
  margin: 7px 5px -10px 5px; }

nav.general-options ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 0px; }

nav.general-options ul li {
  margin: 0 -12px 5px 16px;
  font-weight: bold; }

nav.general-options ul li a {
  text-decoration: none; }

a#sign-in, a#sign-out {
  position: static;
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../images/common/key.png");
  background-position: 3px 50%;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 25px; }

nav.general-options ul li.stop {
  width: 1px;
  height: 1px;
  clear: left; }

nav#navigation {
  line-height: 1.0; }

nav#navigation ul.taglib-my-places li span.site-type {
  display: none; }

nav#breadcrumbs {
  clear: both;
  line-height: 0.8; }

div.politaktiv-theme-footer {
  border-top: 1px solid #000000;
  text-align: center; }

div.politaktiv-theme-footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  border: 0px;
  padding: 0px; }

div.politaktiv-theme-footer ul li {
  float: left;
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  margin: 5px 15px 5px 15px; }

div.politaktiv-theme-footer ul li a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* BGN: styles to make icon-menus appear smaller and without a label */
span.mb-icon-menu-label {
  display: none; }

.lfr-actions .lfr-trigger strong {
  min-width: 0px; }

/* END: styles to make icon-menus appear smaller and without a label */
/* BGN: forum editor toolbar buttons and fields  */
div.portlet-message-boards div.lfr-toolbar select[selectid="fontType"], div.portlet-message-boards div.lfr-toolbar select[selectid="fontSize"], div.portlet-message-boards div.lfr-toolbar a[buttonid="b"], div.portlet-message-boards div.lfr-toolbar a[buttonid="i"], div.portlet-message-boards div.lfr-toolbar a[buttonid="u"], div.portlet-message-boards div.lfr-toolbar a[buttonid="s"], div.portlet-message-boards div.lfr-toolbar a[buttonid="fontColor"], div.portlet-message-boards div.lfr-toolbar a[buttonid="left"], div.portlet-message-boards div.lfr-toolbar a[buttonid="center"], div.portlet-message-boards div.lfr-toolbar a[buttonid="right"], div.portlet-message-boards div.lfr-toolbar a[buttonid="code"], div.portlet-message-boards div.lfr-toolbar a[buttonid="emoticons"] {
  display: none; }

div.portlet-message-boards div.lfr-toolbar .lfr-separator {
  display: none; }

/* END: forum editor toolbar buttons and fields  */
/* BGN: sign in in header  */
.login-left-top .aui-field-input {
  display: inline-block;
  /* 	float:left; */
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-field-element {
  display: inline-block; }

.login-left-top .aui-field-input-text {
  display: inline-block;
  /* 	float:left; */
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-field-label {
  font-size: 90%; }

.login-left-top .aui-form {
  display: inline-block;
  white-space: nowrap; }

.login-left-top .portlet-borderless-container {
  height: 28px; }

.login-left-top form {
  display: block; }

.login-left-top .aui-field {
  display: inline-block;
  /* 	float:left; */
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-fieldset {
  display: inline-block;
  /* 	float:left; */
  margin: 0px 0;
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-field-content:after {
  margin: 0px 0;
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-button-holder:after {
  margin: 0px 0;
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-field-content {
  display: inline-block;
  /* 	float:left; */
  margin: 0px 0;
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-button-holder {
  display: inline-block;
  /* 	float:left; */
  margin: 0px 0;
  overflow: hidden;
  white-space: nowrap; }

.login-left-top .aui-button-input {
  margin: 0 0 5px 0; }

.login-left-top .politaktiv-hook-login-welcome {
  display: none; }

.login-left-top .politaktiv-hook-login-remember-checkbox {
  display: none; }

.login-left-top .politaktiv-hook-login-if-first-visit {
  /*display: none;*/
  position: relative;
  right: -78px; }

.login-left-top div.login-description-article {
  display: none; }

.login-left-top div.login-navigation {
  display: none;
  height: 0px; }

.login-left-top .you-are-signed-in-as-x-message {
  display: none; }

.login-left-top .portlet-msg-success {
  display: none; }

/* END: sign in in header  */

