@import url(base.css);

@import url(application.css);

@import url(layout.css);

@import url(dockbar.css);

@import url(navigation.css);

@import url(portlet.css);

@import url(forms.css);

@import url(extras.css);

@import url(custom.css);

div.politaktiv-theme-footer ul {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

div.politaktiv-theme-footer ul li {
	float: left;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin: 5px 15px 5px 15px;
}

